# TP1 — Exploration des données cybersécurité

## Étape 1 — Ouverture de l’environnement

In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import make_classification

## Étape 2 — Génération d’un dataset cybersécurité simuléOn dispose d’une règle IDS :

In [2]:
X, y = make_classification(
n_samples=3000,
n_features=12,
n_informative=6,
n_redundant=2,
weights=[0.95, 0.05],
flip_y=0.01,
random_state=42
)
cols = [f"feature_{i}" for i in range(X.shape[1])]
df = pd.DataFrame(X, columns=cols)
df["label"] = y

### Question 1
* Que représente la colonne 'labe' ?
La colonne label représente la classe associée à chaque observation dans le dataset

## Étape 3 — Visualisation des premières lignes

In [3]:
df.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,label
0,-2.663836,-0.935390,-0.692640,1.469952,-1.210349,-1.201374,-0.502524,1.149418,-0.665733,1.303891,-2.472913,-1.829476,0
1,-0.759605,-0.639306,1.420401,-1.701708,0.996033,1.012635,0.881269,1.774240,0.528939,1.580710,-0.957242,-2.172132,0
2,-2.352657,-2.289760,-0.025675,0.798428,-1.499715,-1.277913,-3.409348,-0.020980,-0.483505,-0.819028,-0.137744,-1.064666,0
3,0.204492,-0.452855,0.814987,-2.721350,-0.902198,-0.876935,1.273594,0.952515,1.439772,1.679850,-1.274455,-1.365102,0
4,2.923428,-1.431553,-0.208493,-3.366562,0.893004,-0.330824,1.236239,-0.088832,0.837171,-0.150782,-1.215458,0.788421,0

### Question 2 
**a)** le dataset contient 13 colonnes au total.
**b)** 12 colonnes sont des features et 1 colonne est le label.

## Étape 4 — Distribution des classes

In [4]:
df["label"].value_counts(normalize=True)

label
0    0.946
1    0.054
Name: proportion, dtype: float64

### Question 3
les attaques représentent environ 5,4% du dataset.

### Question 4
Cela montre déséquilibré dans le dataset. Le modèle peut privilégier la classe majoritaire et ignorer les attaques ce qui est critique en cybersécurité.

## Étape 5 — StaVsVques descripVves

In [5]:
df.describe()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,label
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,0.007550,-0.997404,0.001538,-1.056269,-0.002979,-0.026001,0.013584,-0.007997,-0.016548,0.287943,-1.014924,-0.920609,0.054000
std,1.702783,1.398229,0.987566,2.164930,1.028905,0.957167,1.796065,0.994710,1.610285,1.524524,1.302436,1.357306,0.226055
min,-5.130096,-6.510652,-3.334893,-6.058694,-3.856375,-3.212954,-7.104576,-3.495045,-4.899010,-4.875085,-5.217152,-5.669470,0.000000
25%,-1.240266,-1.946381,-0.675754,-2.942553,-0.717482,-0.684303,-1.090622,-0.700240,-1.153970,-0.755386,-1.867152,-1.805009,0.000000
50%,-0.002215,-0.996361,0.031207,-1.161684,-0.020991,-0.001186,0.295544,-0.019996,-0.113745,0.214306,-1.009431,-0.970806,0.000000
75%,1.196061,-0.082578,0.687472,0.752216,0.719251,0.598433,1.299584,0.656686,1.082336,1.281168,-0.114507,-0.016426,0.000000
max,6.000206,4.118052,3.691625,6.326538,3.602832,3.038282,5.476330,3.942331,5.695129,5.707121,3.747822,3.380202,1.000000

### Question 5
- min et max montrent des données centre autour de 0. 
min: la majorité sont normal
max: anormal elle est proche de 1. 
l'écarts-types: plus de 22,6% sont anormales.

## Étape 6 — IdenVficaVon des variables

### Question 6
- Features : feature_0 à feature_11
- Label : label

## Étape 7 — Réflexion cybersécurité

### Question 7
L'exploitation des données permet de comprendre la structure, la qualité, la faibilité et le déséquilibre des données avant la création d'un IDS, afin d'éviter les faux positifs et négatives.